@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------------------Colors*/

body{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

/*------------------------------------------------Background Images*/

.home-image {
  background-image: url("../assets/pictures/monkees.jpg");
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*------------------------------------------------Tour Dates*/

.tour-date-heading{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.tour-dates{
    font-family: "Exo", sans-serif;
}

/*------------------------------------------------Header*/

.navbar{
    margin: 0;
    padding: 0;
    background-color: #9dacb2;
    height: 50px;
    display: inline-block;
    list-style-type: none;
}

.navbar-items{
    display: block;
}

.navbar a {
    float: center;
    color: #000000;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
}

.nav-item-home:hover{
    background: #e84610;
    
}

/*------------------------------------------------Footer*/

.footer{
    background-color: #0f0c06;
    opacity: .8;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.fa{
    padding: 20px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook{
    color: #036bc6;
}

.fa-facebook:hover{
    opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

.fa-twitter{
    color: #0288ef;
}

.fa-twitter:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

.fa-instagram{
    color: #efbe6e;
}

.fa-instagram:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}


.fa-youtube{
    color: #e81f09;
}

.fa-youtube:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

/*------------------------------------------------Biography Page*/

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

/*-------Submission Section*/

/*------------------Miscellaneous*/
