@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------------------Colors*/

body{
    background-color: #607aa0;
    color: #000000;
    text-align: center;
}

.navbar{
    background-color: #9dacb2;
    height: 50px;
}

/*-------------------------------------------------Special Paddings/Margins/Text*/


/*------------------------------------------------Background Image*/



/*------------------------------------------------Header*/

header{
    display: block;
}

.logo{
    background: url("../assets/pictures/band.jpg");
    margin: 20px;
    padding: 0;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    margin: 0;
}

.navbar a {
    float: center;
    color: #f2f2f2;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
}

.nav-item-home:hover{
    background: #e84610;
    
}

/*------------------------------------------------Footer*/

footer{
    background-color: #0f0c06;
    opacity: .8;
    display: block;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook{
    color: #036bc6;
}

.fa-facebook:hover{
    opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

.fa-twitter{
    color: #0288ef;
}

.fa-twitter:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

.fa-instagram{
    color: #efbe6e;
}

.fa-instagram:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}


.fa-youtube{
    color: #e81f09;
}

.fa-youtube:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

/*------------------------------------------------Biography Page*/


/*-------Submission Section*/
