@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------------------------Colors*/

body{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

/*------------------------------------------------Background Images*/

.home-image {
  background-image: url("assets/pictures/monkees.jpg");
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*------------------------------------------------Tour Dates*/

.tour-date-heading{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.tour-dates{
    font-family: "Exo", sans-serif;
}

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

/*------------------------------------------------Header*/

header{
    display: inline-block;
}

.logo{
    background: url("assets/pictures/band.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    margin: 0;
    padding: 0;
    background-color: #9dacb2;
    height: 50px;
    list-style-type: none;
}

.navbar-items{
    display: inline;
}

.navbar a {
    float: center;
    color: #000000;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
}

.nav-item-home:hover{
    background: #e84610;
    
}

/*------------------------------------------------Footer*/

footer{
    background-color: #0f0c06;
    opacity: .8;
    display: block;
    margin: 0;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook{
    color: #036bc6;
}

.fa-facebook:hover{
    opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

.fa-twitter{
    color: #0288ef;
}

.fa-twitter:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

.fa-instagram{
    color: #efbe6e;
}

.fa-instagram:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}


.fa-youtube{
    color: #e81f09;
}

.fa-youtube:hover{
     opacity: .5;
    animation: ease-in-out .5s;
    background-color: #1e1f21;
    color:#438de8;
}

/*------------------------------------------------Biography Page*/

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

/*-------Submission Section*/
